<h1>GitHubでログインしました。あなたの名前は<%=@name %>です。</h1>
<h1><a href="/destroy">サインアウトする</a></h1>
<h1><a href="/oauth_app/index">トークン認証を行う</a></h1>
<h1><%=@name %></h1>
<h1><%=@id %></h1>
<h1><%=@date %></h1>
<h1><%=@date2 %></h1>
